* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(20deg, black, darkblue);
}
header {
    height: 85vh;
    width: 100%;
    align-content: center;
    background-image: linear-gradient(to bottom, rgb(0, 0, 148), rgb(0, 0, 53), black);
}
header div {
    width: 75%;
    margin: auto;
    text-align: center;
}
header h1 {
    font-size: 6rem;
    background: linear-gradient(45deg, red, yellow);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}
header h2 {
    font-size: 4rem;
    color: white;
}
nav {
    background-color: black;
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    gap: 15px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100000000000000;
}
nav a {
    display: grid;
    place-items: center;
    color: rgb(255, 0, 0);
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.2s cubic-bezier(0.1, 0.2, 0.25, 1);
}
nav a:hover {
    background-color: black;
    border: 1px solid yellow;
    font-size: 1.5rem;
}
nav img {
    width: 100%;
}
article {
    padding: 20px;
}
#story {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}
.story-card {
    border: 2px solid black;
    min-height: 150px;
    text-align: center;
    display: grid;
    place-items: center;
    background: rgb(255, 255, 255);
    position: relative;
}
.story-card::after {
    content: "";
    width: 105%;
    height: 105%;
    position: absolute;
    background: linear-gradient(20deg, red, yellow);
    z-index: -1;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size:  1.2rem;
}